@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar: hsl(var(--sidebar));
  --color-chart-5: hsl(var(--chart-5));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-1: hsl(var(--chart-1));
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: 240 100.0000% 98.0392%;
    --foreground: 240 27.5862% 22.7451%;
    --card: 0 0% 100%;
    --card-foreground: 240 27.5862% 22.7451%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 27.5862% 22.7451%;
    --primary: 251.9008 55.7604% 57.4510%;
    --primary-foreground: 0 0% 100%;
    --secondary: 249.3750 100% 93.7255%;
    --secondary-foreground: 249.3750 33.3333% 37.6471%;
    --muted: 240 50.0000% 96.0784%;
    --muted-foreground: 240 12.1951% 48.2353%;
    --accent: 218.4615 100.0000% 92.3529%;
    --accent-foreground: 240 27.5862% 22.7451%;
    --destructive: 350.1754 100% 66.4706%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 34.7826% 90.9804%;
    --input: 240 34.7826% 90.9804%;
    --ring: 251.9008 55.7604% 57.4510%;
    --chart-1: 251.9008 55.7604% 57.4510%;
    --chart-2: 249.6429 94.9153% 76.8627%;
    --chart-3: 239.1781 82.0225% 65.0980%;
    --chart-4: 243.1579 93.0070% 71.9608%;
    --chart-5: 243.6522 47.3251% 47.6471%;
    --sidebar: 240 50.0000% 96.0784%;
    --sidebar-foreground: 240 27.5862% 22.7451%;
    --sidebar-primary: 251.9008 55.7604% 57.4510%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 218.4615 100.0000% 92.3529%;
    --sidebar-accent-foreground: 240 27.5862% 22.7451%;
    --sidebar-border: 240 34.7826% 90.9804%;
    --sidebar-ring: 251.9008 55.7604% 57.4510%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 240 26.8293% 8.0392%;
    --foreground: 240 48.7179% 92.3529%;
    --card: 240 27.7778% 14.1176%;
    --card-foreground: 240 48.7179% 92.3529%;
    --popover: 240 27.7778% 14.1176%;
    --popover-foreground: 240 48.7179% 92.3529%;
    --primary: 251.2500 100% 78.0392%;
    --primary-foreground: 240 26.8293% 8.0392%;
    --secondary: 242.8571 32.8125% 25.0980%;
    --secondary-foreground: 241.9672 100% 88.0392%;
    --muted: 240 33.3333% 20%;
    --muted-foreground: 240 20.2532% 69.0196%;
    --accent: 240 33.3333% 28.2353%;
    --accent-foreground: 240 48.7179% 92.3529%;
    --destructive: 350.1754 100% 66.4706%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 26.1538% 25.4902%;
    --input: 240 26.1538% 25.4902%;
    --ring: 251.2500 100% 78.0392%;
    --chart-1: 251.2500 100% 78.0392%;
    --chart-2: 230.4878 44.0860% 63.5294%;
    --chart-3: 206.7123 89.0244% 67.8431%;
    --chart-4: 174.2857 41.8327% 50.7843%;
    --chart-5: 325.5224 100.0000% 73.7255%;
    --sidebar: 240 27.7778% 14.1176%;
    --sidebar-foreground: 240 48.7179% 92.3529%;
    --sidebar-primary: 251.2500 100% 78.0392%;
    --sidebar-primary-foreground: 240 26.8293% 8.0392%;
    --sidebar-accent: 240 33.3333% 28.2353%;
    --sidebar-accent-foreground: 240 48.7179% 92.3529%;
    --sidebar-border: 240 26.1538% 25.4902%;
    --sidebar-ring: 251.2500 100% 78.0392%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
